{% extends "inventory/base.html" %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'inventory/home.css' %}" >{% endblock %}

{% block content %}
<h1> Inventory Management</h1>

<h1>Retailer Login</h1>
<form action={% url 'inventory:home' %}  method="POST">
{% csrf_token %}
  <ul>
    <li>
      <label>Email</label>
      <input type="text" id="email" name="email">
	</li>
    <li>
	  <label>Password</label>
      <input type="password" id="pwd" name="pwd">
	</li>
	<li>
	  <input class="submit" type="submit" value="Login">
	</li>
</form>

<p>Dont have an account? <a href="{% url 'inventory:sign_up_retailer' %}" >Sign Up!</a></p>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}