{% extends "inventory/base.html" %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'inventory/products.css' %}" >{% endblock %}

{% block content %}
<h1>INVENTORY</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="productcontainer">
{% for product in products %}
<div class="productcard">
<p>{{ product.name }}</p>
<p>Stock - {{ product.stock }}</p>
<p>Product Code - {{ product.code }} </p>
</div>
{% endfor %}


<aside>
  <h2>Add Product</h2>
    <form action={% url 'inventory:products_list' %}  method="POST">
    {% csrf_token %}
      {{form.as_p}}
    <p><input class="submit" type="submit" value="Create"></p>
  </form>
</aside>
</div>

{% endblock %}